@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-montserrat);
  }

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100vw;
    height: 100%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f7f9f5;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: #3a3d4e;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #23252f;
}


.sidebar-li {
    @apply   text-green-500 hover:bg-green-300 hover:text-white-500 rounded-r-full w-full;
 }

 .fc-toolbar{
    @apply flex-col md:flex-row justify-center items-start gap-2 w-full
 }

 .fc-toolbar-chunk{
    @apply w-full 
 }
 .fc-toolbar-chunk:nth-child(3){
    @apply w-full flex justify-start md:justify-end items-end
 }

  .fc-button.fc-prev-button, .fc-button.fc-next-button, .fc-button.fc-button-primary,.fc-today-button {
    @apply bg-green-500 
  }
  .fc-button-active{
    @apply !bg-green-600
  }





